<div class="nav">
  <div id="left-side-btn" class="side-menu-btn" (click)="toggleLeftMenu()"></div>
  <p class="page-title">Hyperledger SafeOrder</p>
</div>

<div class="main">

  <div class="side-menu left" [class.open-left]="leftMenuOpen">
    <div *ngIf="leftMenuOpen" class="left-menu-content">

      <div class="nav-buttons">
        <div class="left-menu-btn nav" (click)="navigateTo('')">
          <p>New Order</p>
        </div>
        <div class="left-menu-btn nav selected" (click)="navigateTo('/list')">
          <p>Order List</p>
        </div>
        <div class="left-menu-btn nav" (click)="logout()">
          <mat-icon>keyboard_return</mat-icon>
          <p>Logout</p>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-div" [style.width]="middleWidth">
    <div class="search-div">
      <button *ngIf="!alreadySearched" mat-flat-button color="primary" (click)="onSearch()">
        Search
        <mat-icon>search</mat-icon>
      </button>

      <button *ngIf="alreadySearched" mat-flat-button color="primary" (click)="onSearch()">
        Refresh
        <mat-icon>refresh</mat-icon>
      </button>
      <mat-spinner *ngIf="loading" mode="indeterminate" diameter="25"></mat-spinner>
    </div>

    <div class="no-search-msg" *ngIf="!alreadySearched">
      <p>Please press the SEARCH button above</p>
    </div>

    <div class="order-list" *ngIf="alreadySearched">
      <div class="order-card" *ngFor="let order of orderList">
        <div class="card-header">
          ID: {{ order.ID }}
        </div>
        <div class="card-content">
          <div class="order-info">
            <p><strong>Date:</strong> {{ order.date }}</p>
            <p><strong>Status:</strong> {{ order.status }}</p>
            <p><strong>Total:</strong> {{ order.totalPrice }}€</p>
          </div>
        </div>
        <div class="bottom-btn">
          <button mat-flat-button (click)="onShowOrderInfo(order)">
            <mat-icon>info</mat-icon>
            <p>Info</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
