<div class="login-card">
  <p class="title">Login</p>
  <div class="content">
    <div class="login-icon"></div>
    <div class="input-div">
      <label for="username-input">Username</label>
      <input id="username-input" type="text"/>
    </div>
    <div class="input-div">
      <label for="password-input">Password</label>
      <input id="password-input" type="password"/>
    </div>
  </div>
  <div class="buttons">
    <button mat-flat-button class="submit-btn">Submit</button>
  </div>
</div>
