<div class="nav">
  <div id="left-side-btn" class="side-menu-btn" (click)="toggleLeftMenu()"></div>
  <p class="page-title">Hyperledger SafeOrder</p>
  <div id="right-side-btn" class="side-menu-btn" (click)="toggleRightMenu()"></div>
</div>

<div class="main">

  <div class="side-menu left" [class.open-left]="leftMenuOpen">
    <div *ngIf="leftMenuOpen" class="left-menu-content">
      <div class="left-menu-btn">
        <div id="hamburger-icon" class="category-icon"></div>
        <p>Hamburgers</p>
      </div>
      <div class="left-menu-btn">
        <div id="supplement-icon" class="category-icon"></div>
        <p>Supplements</p>
      </div>
      <div class="left-menu-btn">
        <div id="beverage-icon" class="category-icon"></div>
        <p>Beverages</p>
      </div>
    </div>
  </div>

  <div class="middle-div" [style.width]="middleWidth">
    <div class="product-card" *ngFor="let product of currentProducts">
      <p class="card-header">{{ product.name }}</p>
      <div class="card-content">
        <div class="product-img"
             [style.background-image]="'url(' + product.imgURL + ')'"></div>
        <p class="product-info"><strong>Ingredients:</strong> {{ displayProductIngredients(product) }}</p>
      </div>
      <div class="card-bottom">
        <p class="card-header bottom">Price: {{ product.price }}€</p>
        <div class="add-btn">
          <div class="add-icon"></div>
          <p>Add to cart</p>
        </div>
      </div>
    </div>
  </div>

  <div class="side-menu right" [class.open-right]="rightMenuOpen">
    <div class="right-side-content" *ngIf="rightMenuOpen">
      <p class="cart-title">Your shopping cart:</p>
      <div class="separator top"></div>
      <div class="cart-item">
        <p>1x &nbsp; Chicken Burger</p>
        <p>5€</p>
      </div>
      <div class="cart-item">
        <p>1x &nbsp; Chicken Burger</p>
        <p>5€</p>
      </div>
      <div class="cart-item">
        <p>1x &nbsp; Chicken Burger</p>
        <p>5€</p>
      </div>
      <div class="cart-item">
        <p>1x &nbsp; Chicken Burger</p>
        <p>5€</p>
      </div>
      <div class="separator bottom"></div>
      <p class="cart-title bottom">Total: 20€</p>
    </div>

    <div class="cart-btn-div" *ngIf="showCartButtons">
      <div class="cart-btn reset">
        <div class="icon reset"></div>
        <p>Reset</p>
      </div>
      <div class="cart-btn confirm">
        <div class="icon confirm"></div>
        <p>Confirm</p>
      </div>
    </div>
  </div>
</div>
