* {
  font-family: Dubai;
}

.side-menu {
  width: 0;
  transition: all 0.5s;
  background-color: #3c6f7f;
  border-top: 2px solid white;
  height: calc(100% - 2px);

  &.left {
  }

  &.right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.open-left {
  width: 225px;
  max-width: 20%;
}

.open-right {
  width: 325px;
  max-width: 25%;
}

.main {
  position: relative;
  height: calc(100% - 64px);
  display: flex;
  width: 100%;
}

.left-menu-content {
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: #3c6f7f;
  padding: 10px 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .page-title {
    font-family: "Dubai Light";
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 1px;
    color: white;

    padding: 0;
    margin: 0 25px;
  }

  .side-menu-btn {
    height: 30px;
    width: 30px;

    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);

    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

    transition: all 0.2s;
    cursor: pointer;
  }

  #left-side-btn {
    background-image: url("src/assets/icons/menu-icon.svg");
  }

  #left-side-btn:hover {
    background-image: url("src/assets/icons/menu-icon-inverted.svg");
    background-color: black;
    filter: invert(100%);
  }

  #right-side-btn {
    position: absolute;
    right: 25px;

    background-image: url("src/assets/icons/shopping-cart-icon.svg");
  }

  #right-side-btn:hover {
    background-image: url("src/assets/icons/shopping-cart-icon-inverted.svg");
    background-color: black;
    filter: invert(100%);
  }

}

.left-menu-btn {
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;

  p {
    color: white;
    margin: 0 0 0 20px;
  }

  .category-icon {
    height: 25px;
    width: 25px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    filter: invert(100%);
  }

  #hamburger-icon {
    background-image: url("src/assets/icons/hamburger-icon.svg");
  }

  #supplement-icon {
    background-image: url("src/assets/icons/supplement-icon.svg");
  }

  #beverage-icon {
    background-image: url("src/assets/icons/beverage-icon.svg");
  }
}

.left-menu-btn:hover {
  background-color: white;
  border-left: 5px solid #3c6f7f;

  p {
    color: #3c6f7f;
  }

  #hamburger-icon {
    background-image: url("src/assets/icons/hamburger-icon-inverted.svg");
  }

  #supplement-icon {
    background-image: url("src/assets/icons/supplement-icon-inverted.svg");
  }

  #beverage-icon {
    background-image: url("src/assets/icons/beverage-icon-inverted.svg");
  }
}

.middle-div {
  height: 100%;
  transition: all 0.5s;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  height: 350px;
  width: 320px;
  margin: 20px;
  border: 2px solid #4891a1;
  background-color: #4891a1;
  border-radius: 10px;

  .card-header {
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    margin: 0;

    &.bottom {
      font-size: 18px;
      width: unset;
    }
  }

  .card-content {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;

    .product-img {
      height: 150px;
      width: 150px;
      background-size: cover;
      background-position: center;
      align-self: center;

      border-radius: 10px;
    }

    .product-info {
      margin: 0;
      padding: 20px 10px 0;
      text-align: start;
      height: 64px;
      color: #3c6f7f;
    }
  }

  .card-bottom {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-btn {
    margin-left: 25px;
    height: 35px;
    width: 120px;
    background-color: #8bb930;
    border: 1px solid #709626;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.2s;

    p {
      margin: 0;
      color: white;
    }

    .add-icon {
      height: 15px;
      width: 15px;
      background-image: url("src/assets/icons/plus-icon.svg");
      background-size: cover;
      background-position: center;
      filter: invert(100%);
    }
  }

  .add-btn:hover {
    background-color: #7ca82c;
  }

}

.right-side-content {
  padding: 20px 15px;

  .cart-title {
    margin: 0;
    color: white;
    font-size: 18px;

    &.bottom {
      margin-top: 10px;
    }
  }

  .separator {
    width: 80%;
    height: 1px;
    background-color: white;

    &.top {
      margin-bottom: 15px;
    }

    &.bottom {
      width: 90%;
      margin-top: 15px;
    }
  }

  .cart-item {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    color: white;

    p {
      margin: 0;
    }
  }
}

.cart-btn-div {
  display: flex;
  justify-content: center;

  .cart-btn {
    height: 35px;
    width: 95px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.2s;

    p {
      color: white;
      margin: 0;
    }

    &.reset {
      background-color: #969696;
      border: 1px solid #8a8a8a;
    }

    &.confirm {
      background-color: #8bb930;
      border: 1px solid #709626;
    }

    .icon {
      height: 15px;
      width: 15px;
      background-size: cover;
      background-position: center;
      filter: invert(100%);

      &.reset {
        background-image: url("src/assets/icons/refresh-icon.svg");
      }

      &.confirm {
        background-image: url("src/assets/icons/confirm-icon.svg");
      }
    }
  }

}

