.left-side-menu {
  height: 100%;
  width: 0;
  transition: all 0.5s;
}

.right-side-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  transition: all 0.5s;
}

.open-left {
  width: 300px;
  background-color: orange;
}

.open-right {
  width: 300px;
  background-color: green;
}

.main {
  position: relative;
  height: 70%;
  display: flex;
  width: 100%;
}

.left-menu-content {
  display: flex;
  flex-direction: column;
}

.middle-div {
  height: 100%;
  background-color: aquamarine;
  transition: all 0.5s;
}


.nav {
  background-color: #3c6f7f;
  padding: 15px 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.page-title {
  font-family: "Dubai Light";
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1px;
  color: white;

  padding: 0;
  margin: 0 25px;
}

.side-menu-btn {
  height: 30px;
  width: 30px;

  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(100%);

  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#left-menu-btn {
  background-image: url("src/assets/icons/menu-icon.svg");
}

#left-menu-btn:hover {
  background-image: url("src/assets/icons/menu-icon-inverted.svg");
  background-color: black;
  filter: invert(100%);
}

#right-menu-btn {
  position: absolute;
  right: 25px;

  background-image: url("src/assets/icons/shopping-cart-icon.svg");
}

#right-menu-btn:hover {
  background-image: url("src/assets/icons/shopping-cart-icon-inverted.svg");
  background-color: black;
  filter: invert(100%);
}

