.open-right {
  width: 325px;
  max-width: 25%;
}

.left-menu-btn {
  #hamburger-icon {
    background-image: url("src/assets/icons/hamburger-icon.svg");
  }

  #supplement-icon {
    background-image: url("src/assets/icons/supplement-icon.svg");
  }

  #beverage-icon {
    background-image: url("src/assets/icons/beverage-icon.svg");
  }
}

.left-menu-btn:hover {
  #hamburger-icon {
    background-image: url("src/assets/icons/hamburger-icon-inverted.svg");
  }

  #supplement-icon {
    background-image: url("src/assets/icons/supplement-icon-inverted.svg");
  }

  #beverage-icon {
    background-image: url("src/assets/icons/beverage-icon-inverted.svg");
  }
}

.categories-separator {
  border-top: 1px solid white;
  padding-top: 15px;

  p {
    color: white;
    margin: 0 0 0 20px;
  }
}

.product-card {
  height: 350px;
  width: 320px;
  margin: 20px;
  border: 2px solid #4891a1;
  background-color: #4891a1;
  border-radius: 10px;

  .card-header {
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    margin: 0;

    &.bottom {
      font-size: 18px;
      width: unset;
    }
  }

  .card-content {
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;

    .product-img {
      height: 150px;
      width: 150px;
      background-size: cover;
      background-position: center;
      align-self: center;

      border-radius: 10px;
    }

    .product-info {
      margin: 0;
      padding: 20px 10px 0;
      text-align: start;
      height: 64px;
      color: #3c6f7f;
    }
  }

  .card-bottom {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-btn {
    margin-left: 25px;
    height: 35px;
    width: 120px;
    background-color: #8bb930;
    border: 1px solid #709626;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.2s;

    p {
      margin: 0;
      color: white;
    }

    .add-icon {
      height: 15px;
      width: 15px;
      background-image: url("src/assets/icons/plus-icon.svg");
      background-size: cover;
      background-position: center;
      filter: invert(100%);
    }
  }

  .add-btn:hover {
    background-color: #7ca82c;
  }

}

.right-side-content {
  padding: 20px 15px;

  .cart-title {
    margin: 0;
    color: white;
    font-size: 18px;

    &.bottom {
      margin-top: 10px;
    }
  }

  .separator {
    width: 80%;
    height: 1px;
    background-color: white;

    &.top {
      margin-bottom: 15px;
    }

    &.bottom {
      width: 90%;
      margin-top: 15px;
    }
  }

  .cart-item {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    color: white;

    p {
      margin: 0;
    }
  }

  .no-items-alert {
    padding: 5px 20px;
    color: white;
  }
}

.cart-btn-div {
  display: flex;
  justify-content: center;

  .cart-btn {
    height: 35px;
    width: 95px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.2s;

    p {
      color: white;
      margin: 0;
    }

    &.reset {
      background-color: #969696;
      border: 1px solid #8a8a8a;
    }

    &.reset:hover {
      background-color: #8a8a8a;
    }

    &.confirm {
      background-color: #8bb930;
      border: 1px solid #709626;
    }

    &.confirm:hover {
      background-color: #7ca82c;
    }

    .icon {
      height: 15px;
      width: 15px;
      background-size: cover;
      background-position: center;
      filter: invert(100%);

      &.reset {
        background-image: url("src/assets/icons/refresh-icon.svg");
      }

      &.confirm {
        background-image: url("src/assets/icons/confirm-icon.svg");
      }
    }
  }
}
