<div class="nav">
  <div id="left-menu-btn" class="side-menu-btn" (click)="toggleLeftMenu()"></div>
  <p class="page-title">Hyperledger SafeOrder</p>
  <div id="right-menu-btn" class="side-menu-btn" (click)="toggleRightMenu()"></div>
</div>
<div class="main">
  <div class="left-side-menu" [class.open-left]="leftMenuOpen">
    <div *ngIf="leftMenuOpen" class="left-menu-content">
      <div class="left-menu-btn">
        <div id="hamburger-icon" class="category-icon"></div>
        <p>Hamburgers</p>
      </div>
      <div class="left-menu-btn">
        <div id="supplement-icon" class="category-icon"></div>
        <p>Supplements</p>
      </div>
      <div class="left-menu-btn">
        <div id="beverage-icon" class="category-icon"></div>
        <p>Beverages</p>
      </div>
    </div>
  </div>

  <div class="middle-div" [style.width]="middleWidth">
    <button (click)="onConsole()">PUSH</button>
  </div>

  <div class="right-side-menu" [class.open-right]="rightMenuOpen"></div>
</div>
