<div class="nav">
  <div id="left-menu-btn" class="side-menu-btn" (click)="toggleLeftMenu()"></div>
  <p class="page-title">Hyperledger SafeOrder</p>
  <div id="right-menu-btn" class="side-menu-btn" (click)="toggleRightMenu()"></div>
</div>
<div class="main">
  <div class="left-side-menu" [class.open-left]="leftMenuOpen">
    <div *ngIf="leftMenuOpen" class="left-menu-content">
      <button>Hola</button>
      <button>Hola</button>
      <button>Hola</button>
      <button>Hola</button>
    </div>
  </div>

  <div class="middle-div" [style.width]="middleWidth">
    <button (click)="onConsole()">PUSH</button>
  </div>

  <div class="right-side-menu" [class.open-right]="rightMenuOpen"></div>
</div>
<button (click)="toggleLeftMenu()">Left</button>
<button (click)="toggleRightMenu()">Right</button>
{{leftMenuOpen}}
{{rightMenuOpen}}
