/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  font-family: Dubai, sans-serif;
}

p {
  margin: 0;
}

.dialog-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .dialog-header {
    border-bottom: 1px solid darkgrey;
    padding: 0 10px 5px;

    p {
      font-weight: bold;
    }
  }

  .dialog-items {
    padding: 15px 10px;

    .cart-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
    }
  }

  .cart-subtotal {
    padding: 10px;
    border-top: 1px solid lightgrey;

    p {
      display: inline;
      margin-right: 25px;
    }
  }

  .cart-total {
    padding: 10px;
    border-top: 1px solid darkgrey;
    font-weight: bold;
  }

  .dialog-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .confirm-button {
      margin-left: 10px;
      background-color: #8bb930;
      color: white;
    }
  }

}


//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
